In [18]:
import random 
text_names = """Bùi Châu  Anh
Nguyễn Thị Mai  Anh
Trần Tuấn  Anh
Vũ Ngọc Hồng  Anh
Lê Ngọc  Bích
Thành Uyển  Dung
Vũ Ngọc  Dương
Đỗ Tuấn  Đạt
Vũ Tuấn  Đạt
Nguyễn Phương  Đông
Trần Minh  Đức
Trần Thu  Hằng
Nguyễn Dương  Hiếu
Nguyễn  Hoàng
Nguyễn Việt  Hoàng
Đặng Nhật  Huy
Đinh Nam  Khánh
Nguyễn Vinh  Khánh
Đỗ Hữu  Kiên
Hàn Chí  Kiên
Đỗ Ánh  Ly
Nguyễn Ngọc Sương  Mai
Hồ Đức  Mạnh
Khổng Gia  Minh
Lê Nguyễn Tuệ  Minh
Phạm Hồng  Minh
Nghiêm Trà  My
Nguyễn Phú  Nam
Tô Bích  Ngọc
Hoàng Thị Thanh  Nhàn
Nguyễn Tuấn  Phong
Trần Đình Tuấn  Phong
Chu Bích  Phương
Nguyễn Đại  Quân
Nguyễn Thanh  Thảo
Lê Thị Anh  Thư
Phạm Vân  Thư
Nguyễn Thị Thu  Trang
Triệu Hải Đăng  Trình
Trương Hoàng  Tùng
Nguyễn Tống Nguyên  Vũ
"""
names = text_names.splitlines()

In [19]:
random.choices(names,k = 3)

['Phạm Vân  Thư', 'Trần Thu  Hằng', 'Thành Uyển  Dung']

In [20]:
text_names = """Bùi Châu  Anh
Nguyễn Thị Mai  Anh
Trần Tuấn  Anh
Vũ Ngọc Hồng  Anh
Lê Ngọc  Bích
Thành Uyển  Dung
Vũ Ngọc  Dương
Đỗ Tuấn  Đạt
Vũ Tuấn  Đạt
Nguyễn Phương  Đông
Trần Minh  Đức
Trần Thu  Hằng
Nguyễn Dương  Hiếu
Nguyễn  Hoàng
Nguyễn Việt  Hoàng
Đặng Nhật  Huy
Đinh Nam  Khánh
Nguyễn Vinh  Khánh
Đỗ Hữu  Kiên
Hàn Chí  Kiên
Đỗ Ánh  Ly
Nguyễn Ngọc Sương  Mai
Hồ Đức  Mạnh
Khổng Gia  Minh
Lê Nguyễn Tuệ  Minh
Phạm Hồng  Minh
Nghiêm Trà  My
Nguyễn Phú  Nam
Tô Bích  Ngọc
Hoàng Thị Thanh  Nhàn
Nguyễn Tuấn  Phong
Trần Đình Tuấn  Phong
Chu Bích  Phương
Nguyễn Đại  Quân
Nguyễn Thanh  Thảo
Lê Thị Anh  Thư
Phạm Vân  Thư
Nguyễn Thị Thu  Trang
Triệu Hải Đăng  Trình
Trương Hoàng  Tùng
Nguyễn Tống Nguyên  Vũ
"""
names = text_names.splitlines()

In [21]:
import random
random.choices(names, k=1)

['Tô Bích  Ngọc']

             full_name  Điểm TBLT 10
34   Nguyễn Thanh Thảo           9.29
3     Vũ Ngọc Hồng Anh           9.16
5      Thành Uyển Dung           8.83
1   Nguyễn Thị Mai Anh           8.81
11       Trần Thu Hằng           8.74